.advantages {
  padding: 130px 0;
  overflow: hidden;

  @media (max-width: 1440px) {
    padding: 80px 0;
  }

  @media (max-width: 1024px) {
    padding: 40px 0;
  }

}

.content {
  display: grid;
  grid-template-columns: 45% 55%;
  overflow: hidden;

  @media (max-width: 955px) {
    display: flex;
    flex-direction: column;
  }
}

.contentBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: var(--main-light);
  padding: 15px 80px;
  gap:clamp(1.25rem, 0.625rem + 3.13vw, 4.375rem);

  @media (max-width: 1024px) {

   // padding: 0 40px;
   // gap: 35px;
  }
  @media (max-width: 955px) {
    padding: 40px 15px;
   // gap: 25px;
  }
}

.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: clamp(1.25rem, 0.813rem + 2.19vw, 3.438rem);
  color: var(--text);

  //@media (max-width: 1440px) {
  //  font-size: 50px;
  //}
  //
  //@media (max-width: 1024px) {
  //  font-size: 26px;
  //}
  //
  //@media (max-width: 650px) {
  //  font-size: 22px;
  //}
}

.subTitle {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 30px;
  color: var(--text);

  @media (max-width: 1440px) {
    font-size: 25px;
  }
  @media (max-width: 1024px) {
    font-size: 16px;
  }

}

.advImage {
  overflow: hidden;
  padding: 30%;
  background: url('../../../../assets/image/advantages-image2.webp') 0 0/cover no-repeat;

  @media (max-width: 955px) {
    padding: 22%;
    background-position: right;
  }
}
