
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat+Alternates:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat+Alternates:wght@700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
  --font-family: "Proxima", sans-serif;
  --second-family: "Raleway", sans-serif;
  --third-family: "Inter", sans-serif;
  --font3: "Montserrat-Alt1", sans-serif;
  --font4: "Poppins", sans-serif;
  --font5: "Montserrat", sans-serif;
 // transition: all var(--transtition-duration-basic);

  // цвета

  --text: #4f5e77;
  --main: #0c66e4;
  --main-light: #9ec4fa;
  --main-opacity: rgba(12, 102, 228, 0.51);
  --white: #fff;
  --black: #000;
  --overlay: rgba(0, 0, 0, 0.8);
  --bg-menu: #0d0d0d;

  --muted-color: rgba(0, 0, 0, 0.3);

  --header-height: clamp(3.75rem, 3.375rem + 1.88vw, 5.625rem);

  --transtition-duration-basic: 0.3s;

  overflow-x: hidden;

  @media (max-width: 768px) {
   // --header-height: 70px;
  }
}

#root {



 // position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

.main {
  position: relative;
  flex: 1 1 auto;
  line-height: 1;
  font-weight: 400;
  font-size: 18px;
  font-family: var(--second-family);
  padding-top: var(--header-height);
}

.container {
  max-width: 1920px;
  padding: 0 50px;
  box-sizing: content-box;
  margin: 0 auto;
  position: relative;
  @media (max-width: 1024px) {
    padding: 0 15px;
  }
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  position: relative;
}

.group {
  position: relative;
  margin: 20px 0;
  font-family: var(--second-family);

  input,
  textarea {
    background: none;
    color: var(--text);
    font-size: 20px;
    padding: 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid var(--muted-color);

    &:focus {
      outline: none;
    }

    &:focus ~ label,
    &:not(:placeholder-shown) ~ label {
      top: -14px;
      font-size: 14px;
      color: var(--main);

    }

    &:focus ~ .bar:before {
      width: 100%;
    }
  }

  input[type="password"] {
    letter-spacing: 0.3em;
  }

  label {
    font-family: var(--second-family);
    color: var(--muted-color);
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: var(--transtition-duration-basic) ease all;
  }

  .bar {
    position: relative;
    display: block;
    width: 100%;

    &:before {
      content: '';
      height: 2px;
      width: 0;
      bottom: 0;
      position: absolute;
      background: var(--main);
      transition: var(--transtition-duration-basic) ease all;
      left: 0;
    }
  }

}



