.header {
//  padding: 50px 0;
  position: fixed;
  top: 0;
  left: 0;
  height: var(--header-height);
  width: 100%;
  display: flex;
  z-index: 60;
 justify-content: center;
  background-color: var(--white);
  box-shadow: rgba(45, 120, 218, 0.31) 0 10px 10px;

  @media (max-width: 1920px) {
  //  padding-top: calc(20px + (50 - 20) * ((100vw - 320px) / (1920 - 320)));
  //  padding-bottom: calc(20px + (50 - 20) * ((100vw - 320px) / (1920 - 320)));
  }


}

.logo {
  z-index: 50;

  svg {
    width: clamp(8.125rem, 5.075rem + 15.25vw, 23.375rem);
    height: clamp(2.5rem, 2.275rem + 1.13vw, 3.625rem);
   // width: 374px;

    //@media (max-width: 1920px) {
    //  width: calc(180px + (374 - 180) * ((100vw - 320px) / (1920 - 320)));
    //
    //}

  }

}

.content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.logoBlock{

  z-index: 100;
  @media (max-width: 1230px) {
    flex: 1 1 auto;
  }
}

.menuOpen {
  svg {
    g {
      path {
        fill: var(--white);
      }
    }
  }
}

.btnBlock {
  display: flex;
  align-items: center;
  gap: 35px;

  @media (max-width: 1920px) {
    gap: calc(15px + (35 - 15) * ((100vw - 1440px) / (1920 - 1440)));
  }

  @media (max-width: 600px) {
    display: none;
  }


}

.burger {
  display: none;

  @media (max-width: 1230px) {
    z-index: 50;
    position: relative;
    width: 40px;
    display: flex;
    flex: 0 0 40px;
    height: 23px;
    cursor: pointer;


    span,
    &::before,
    &::after {
      content: "";
      transition: all 0.3s ease 0s;
      left: 0;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: var(--bg-menu);
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    span {
      top: calc(50% - 1px);
    }

    &.menuOpen {
      span {
        transform: scale(0);
      }

      &::before {
        transform: rotate(-45deg);
        top: calc(50% - 1px);
        background-color: var(--white);
      }

      &::after {
        transform: rotate(45deg);
        bottom: calc(50% - 1px);
        background-color: var(--white);
      }
    }
  }


}
